python-daemon==2.1.2
Pyro4==4.62
dicttoxml==1.7.4
hnmp==0.5.1
ipaddress==1.0.14
jinja2==2.9.6
jsonpath-rw==1.4.0
ncclient==0.5.3
netmiko==1.4.3
pybind==0.1.35
pyangbind-brcd>=0.6.14
requests==2.18.4
xmltodict==0.11.0
fasteners==0.14.1
xmljson==0.1.9
